@import url(./__logo/header__logo.css);


.header {
  width: calc(100% - 400px);
  min-height: 74px;
  margin: 45px auto 40px;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(100% - 240px);
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 70px);
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: 100%;
    margin: 28px 0 38px;
  }
}
